# Pascal's Triangle

Each entry is derived by adding the number above and to the left with the number above and to the right. Assuming we start with a single 1 in row 0, and we can construct this by calculating each row from the previous one.

In [139]:
def build(size):
    for i in range(size):
        row = []
        
        for j in range(i + 1):
            if j == 0 or j == i:
                row.append(1)
            else:
                row.append(prev[j - 1] + prev[j])
                
        yield row
        
        prev = row


for row in build(15):
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]

In this approach the previous row is retained to compute the next. Each cell of Pascal's Triangle can be calculated by the number of combinations of `y` things `x` ways.


For example, to calculate cell `(8, 10)`, we can use the formula for combinations: `y! / (x! * (y - x)!)`

In [122]:
from math import factorial

def combinations(y, x):
    return factorial(y) / (factorial(x) * factorial(y - x))

combinations(10, 8)

45.0

The 8th item of the 10th row is 45. In Python 3.8, `math.comb` does this work for us.

In [118]:
from math import comb

comb(10, 8)

45

In [138]:
def build(size):
    for i in range(size):
        yield [comb(i, j) for j in range(i + 1)] 
            

for row in build(15):
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
[1, 10, 45, 120, 210, 252, 210, 120, 45, 10, 1]
[1, 11, 55, 165, 330, 462, 462, 330, 165, 55, 11, 1]
[1, 12, 66, 220, 495, 792, 924, 792, 495, 220, 66, 12, 1]
[1, 13, 78, 286, 715, 1287, 1716, 1716, 1287, 715, 286, 78, 13, 1]
[1, 14, 91, 364, 1001, 2002, 3003, 3432, 3003, 2002, 1001, 364, 91, 14, 1]

That returns the same result. It still requires two loops, but no additional storage.

Let's make this look... triangle-y:

In [137]:
for row in build(15):
    display = ''.join([str(i).rjust(6) for i in row])
    print(display.center(100))

                                                    1
                                                 1     1
                                              1     2     1
                                           1     3     3     1
                                        1     4     6     4     1
                                     1     5    10    10     5     1
                                  1     6    15    20    15     6     1
                               1     7    21    35    35    21     7     1
                            1     8    28    56    70    56    28     8     1
                         1     9    36    84   126   126    84    36     9     1
                      1    10    45   120   210   252   210   120    45    10     1
                   1    11    55   165   330   462   462   330   165    55    11     1
                1    12    66   220   495   792   924   792   495   220    66    12     1
             1    13    78   286   715  1287  1716  1716  1287   715   286    78    13     1
          1    14    91   364  1001  2002  3003  3432  3003  2002  1001   364    91    14     1